*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#1f2937;
}

header{
    height:90px;
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 80px;

    background:#2c3645;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:700;
    letter-spacing:3px;
}

nav{
    display:flex;
    gap:40px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
}

.cta-btn{
    background:#e4c25d;
    color:#223047;

    text-decoration:none;

    padding:16px 30px;

    border-radius:40px;

    font-weight:600;
}
